.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5em;
}

.App-header h1 {
  display: inline;
}

.App-header-right {
  margin-top: 0.25em;
  float: right;
}

button {
  padding: 1em;
  background-color: lightskyblue;
  font-weight: bold;
}
