.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5em;
}

.App-header h1 {
  display: inline;
}

.App-header-right {
  margin-top: 0.25em;
  float: right;
}

button {
  padding: 1em;
  background-color: lightskyblue;
  font-weight: bold;
}

.App-body {
  padding: 1em;
}

textarea {
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}
input[type="checkbox"]:checked {
  background: #abd;
}

.App-grid-container {
  width: 100%;
  padding: 1em;
}
